.header{
    background-color: rgba(36, 16, 56, 0.65);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}
.header a{
    text-decoration: none;
    color: white;
    padding-right: 30px;
    font-size: 17px;
    font-weight: 400;
}
.header a:hover{
    color:aquamarine;
}