.shop-container{
    padding: 0 3%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    padding: 8% 0;
}
.order-summery{
    background-color: antiquewhite;
    color: #1C2B35;
    text-align: center;
    font-weight: 500;
}